#navbar{
    background-color:#F7F8FF;
    padding: 1.5rem;    
  }
  #navbar a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
  }
  #navbar a.active{
    color:#747BFF;
    font-weight: bold;
  }
  .nav-container{
    display: flex;
}
.nav-main{
    margin-left: 2rem;
}
.nav-list{
    padding-left: 25rem;
    padding-top:0.7rem ;
}
.nav-btn{
padding-left: 8rem;
}



/* .cards{
 text-align: center;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
}
.cards a{
border: 1px solid black;
border-radius: 22px;
background-color: rgb(251, 244, 230);
margin: 1rem;
text-decoration: none;
color: black;

}  */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.cards a {
  text-decoration: none;
  color: #333;
  width: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
}

.cards a:hover {
  transform: scale(1.05);
}

.cards img {
  max-width: 14rem;
  height: 14rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cards h4 {
  font-size: 18px;
  margin: 10px 0;
}

.cards h6 {
  color: #007bff;
  font-size: 16px;
  margin: 10px 0;
}
.content h1{
 font-weight: bold;
 text-align: center;
 margin: 2rem;
}
.feature-content{
  margin:2rem;
  padding: 3rem 2rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.feature-content img{
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.feature-content img:hover{
  transform: scale(1.05);
}
.btn-explore{
text-align: center;
}