.Detail-discription{
    display: inline;
    flex-direction: row-reverse;
    background-color: #F7F8FF;
    margin: 10px 20px;
    padding: 10px 20px;

}
.product-img{
    display: block;
    flex-direction: initial;
    border: 1px solid #898B9B;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.container{
    display: flex;

}

.counter-color select{
width: 16rem;
height: 50px;
margin: 10px 35px;
}
