
.custom-class{
margin-top: 10%;
}
.custom-bootstrap{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;

}
.custom-img{
  width: 150px;
}
.main-home{
box-sizing: border-box;
position: relative;
}
.home-img {
  width: 100%;
  height: 35rem;
  
  object-fit: cover;
  transition: opacity 0.5s ease-in;

  animation: slideFromLeft 2s ease-in-out;

}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(0%); 
  }
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in;
}

.page-heading {
  color: white;
  font-size: 74px;
  font-weight: 700;
  margin: 0;
}






